html {
  height: 100%;
}

body {
    background-image: url("../images/bg-image.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100%; /* Позволяет расти вниз */
    margin: 0;
}

section {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

h1, h2 {
  color: white;
  -webkit-text-stroke: 2px #1a1d20;
}

h2 {
  color: white;
  -webkit-text-stroke: 1px #1a1d20;
}

h3 {
  color: red;
  -webkit-text-stroke: 1px #1a1d20;
}

.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  box-shadow: 5px 5px 25px 19px #000000;
}

.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}