{% load static %}

{% for item in cart_items %}
    <div class="card mb-3 text-bg-light shadow-lg">
        <div class="card-header">
            <h5 class="card-title">{{ item.product.name }}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row text-center">
                    <div class="col p-0">
                        <form action="{% url 'carts:cart_update' item.product_id %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                        <span class="input-group-btn">
                            <button type="submit" name="action" value="decrement" class="btn btn-dark btn-sm decrement">-</button>
                        </span>
                                <input type="text"
                                       class="form-control number"
                                       value="{{ item.quantity }}"
                                       readonly>
                        <span class="input-group-btn">
                            <button type="submit" name="action" value="increment" class="btn btn-dark btn-sm decrement">+</button>
                        </span>
                            </div>
                        </form>
                    </div>
                    <div class="col p-0">
                        <p>x {{ item.product.price }} = </p>
                    </div>
                    <div class="col p-0">
                        <strong>{{ item.products_price }} $</strong>
                    </div>
                    <div class="col p-0">
                        <a href="{% url 'cart:cart_delete' item.product_id %}"
                           class="remove-from-cart"
                           data-cart-id="">
                            <img class="mx-1"
                                 src="{% static 'icons/trash3-fill.svg' %}"
                                 alt="Catalog Icon"
                                 width="16"
                                 height="16">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endfor %}

<div class="card mb-3 shadow-lg">
    <div class="card-footer">
        <p class="float-left">
            Итого <strong>{{ count }}</strong> товар(а) на сумму
        </p>
        <h4 class="float-left">
            <strong>{{ cart_items.total_price }} $</strong>
        </h4>
    </div>
</div>
